footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 0.5rem;

        input{
            width: 15px;
            cursor: pointer;
        }
        

        label{
            font-size: 0.75rem;
            cursor: pointer;
        }
    }

    a{
        font-size: 0.75rem;
        color: #6464fd;
        transition: .4s;
        font-weight: 500;
    }
}