h2{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;

    &::after{
        content: "";
        background: linear-gradient(90deg,rgba(71, 71, 252, 1) 0%, rgba(66, 224, 255, 1) 100%);
        background-size: 200%;
        background-position: right;
        width: 50px;
        height: 4px;
        border-radius: 4px;
        bottom: -5px;
        left: 0;
        position: absolute;
    }
}